body {
  font-family: Arial, sans-serif;
  background-color: #0A1E2F;
  color: #F5F5F5;
}
body footer {
  background-color: rgba(39, 39, 39, 0.407);
}
body p {
  background-color: rgba(39, 39, 39, 0.207);
  text-wrap: pretty;
}
body h1 {
  background-color: rgba(39, 39, 39, 0.45);
  color: #F5F5F5;
}

.horizontal-section {
  background-color: rgba(39, 39, 39, 0.45);
  text-wrap: pretty;
  margin-left: -15px;
  margin-right: -15px;
  padding: 0;
  overflow: hidden;
}
.horizontal-section::after {
  content: "";
  display: block;
  border-bottom: 2px solid #000;
  width: 100%;
}
.horizontal-section h1 {
  padding-left: 5px;
  padding-right: 5px;
  background-color: inherit;
  color: #F5F5F5;
}/*# sourceMappingURL=styles.css.map */